{% extends 'base.html' %}

{% block head %} 
<title> posts </title>
{%  endblock %}


{% block body %} 
<div>
    <br>
    <h1 style="display: inline"> All posts </h1>
    <a style="display: inline" class="btn btn-success float-right" href="/posts/new" >+ New Post</a>
</div>

<hr>
<!--
<h2> Create new blog post</h2>
<form action='/posts' method='POST'>
        <label for="title">Title:</label> 
       <input class="form-control" type="text" name='title' id='title' placeholder="Enter title" aria-label="Enter title">
    <br>
        <label for="author">Author:</label>
        <input class="form-control" type="text" name='author' id='author' placeholder="Enter author name" aria-label="Enter author name">
    <br>
        <label for="content">Post:</label>
        <textarea class="form-control" id="content" name='content' id='content' placeholder="Enter content" rows="3"></textarea>
    <br>
    <input type='submit' value='Post'>
</form>
<hr>
-->


    {% for post in posts  %}
        <h2> {{ post.title}}</h2>
       
        {% if post.author %}
             <small> Written by: {{ post.author }} on <i>{{post.date_created}}</i> </small>
        {% else %}
            <small> Written by: Unknown on <i>{{post.date_created}}</i> </small>
        {% endif %}
        <br>
        
        <p style="white-space: pre-wrap;"> {{ post.content}}</p>
        <a class="btn btn-danger" href="/posts/delete/{{post.id}}">Delete</a>
        <a class="btn btn-primary" href="/posts/edit/{{post.id}}">Edit</a>
        <hr>

    {% endfor %}
{%  endblock %}